libvirt_dnsmasq.conf
network.yaml
network.xml
pull-secret.txt
install-config.yaml
install-dir/*
rhcos-live.x86_64.iso
openshift-install
rhcos-live-initramfs.x86_64.img
rhcos-live-kernel-x86_64
rhcos-live-rootfs.x86_64.img
*.ocp-cluster.ocp.lan.sh
